# Project dependencies
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
source/node_modules
source/.cache/
# Build directory
source/public/
.DS_Store
source/.DS_Store
source/yarn-error.log

software_engineer_existential_context_upliftment_and_beyond/node_modules
software_engineer_existential_context_upliftment_and_beyond/.cache/
# Build directory
software_engineer_existential_context_upliftment_and_beyond/public/
software_engineer_existential_context_upliftment_and_beyond/.DS_Store
software_engineer_existential_context_upliftment_and_beyond/yarn-error.log
